%% -*- erlang -*-

{deps, [
    {ekaf,   ".*", {git, "https://github.com/helpshift/ekaf.git",  "829453cb26876e4b483c9875a63ff8551ae06c09"}},
    {kafkamocker, ".*", {git, "https://github.com/helpshift/kafkamocker"}},
    {ranch, ".*", {git, "https://github.com/ninenines/ranch"}},

    {amqp_client, ".*", {git, "https://github.com/Zarathos94/amqp_client"}}
]}.
